<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdvertiserService_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="AuthenticationService_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="AnalyticsDataService_Binding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://platform.mediamind.com/Eyeblaster.MediaMind.API/V2/AdvertiserService.svc"
                binding="basicHttpBinding" bindingConfiguration="AdvertiserService_Binding"
                contract="AdvertiserService.IAdvertiserService" name="AdvertiserService_Binding" />
            <endpoint address="https://platform.mediamind.com/Eyeblaster.MediaMind.API/V2/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationService_Binding"
                contract="AuthenticationService.IAuthenticationService" name="AuthenticationService_Binding" />
            <endpoint address="https://platform.mediamind.com/Eyeblaster.MediaMind.API/V2/AnalyticsDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="AnalyticsDataService_Binding"
                contract="AnalyticsDataService.IAnalyticsDataService" name="AnalyticsDataService_Binding" />
        </client>
    </system.serviceModel>
</configuration>